
<div class="card">
  <div class="card-body">
    <div class="container">
      <form *ngIf="formAddBook" [formGroup]="formAddBook" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Sách</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Book Name" formControlName="title">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput2" class="form-label">Tác giả</label>
          <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Author" formControlName="author">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Miêu tả</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Thêm</button>
      </form>
    </div>
  </div>
</div>
